html,body
{
	height: 100%;
}
.logo
{
	max-width:360px;
}
i
{
	color: white;
	height: 21px;
	margin-left: 5px; 
}
.search-box
{
	border-radius: 10px;
	padding: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.search-box:focus
{
	outline: none;
}
.btn-categories
{
	background-color: #343a40;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 4px;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 25px;
}
.btn-categories:focus
{
	outline: none;

}
.categories-list
{
	list-style: none;
}
.footer-color
{
	border:2px solid green;
	background-color: black;
}
.footer-label
{
	color: #fff;
}
.footer-label>a
{
	text-decoration: none;
}
.categories-heading
{
	color:blue;
}
/*.img-thumbnail
{
	transition: all 0.5s ease;
}*/
/*.img-thumbnail:hover
{
	transform: rotate(5deg);
}*/
.span-class span
{
	font-weight: bold;
}
.admin-bcolor
{
	background-color: #b0afaf;
	height: 500px;
}